/* @import "swiper/css/navigation"; */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */



.slider-navigation:hover .image-swiper-button-prev {
  left: 1.5rem;
}


.slider-navigation:hover .image-swiper-button-next {
  right: 1.5rem;
}


.swiper-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 99rem;
  width: 3rem;
  height: 3rem;
  bottom: 12%;
  z-index: 10;
  cursor: pointer;
  opacity: 1;
  transition: background 0.1s ease-in, color 0.1s ease-in, opacity 0.1s ease-in;
}


.swiper-button:hover {
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}


.swiper-button svg {
  width: 1.5rem;
  height: 1.5rem;
}


.image-swiper-button-prev {
  transition: left 0.2s ease-in;
  left: -5rem;
}


.image-swiper-button-next {
  transition: right 0.2s ease-in;
  right: -5rem;
}


.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}


.no-show {
  opacity: 0;
}